.denglu_one
  width: 100%
  height: 100%
  background #fff
  .denglu_one_head
    width: 100%;
    height: 47%;
    position: relative;
    .dengluone
      display: block;
      width: 100%;
      height: 100%;
      background: url('./img/dengluone.png') no-repeat
      background-size 100% 100%
    .denglu_one_head_title
      position: absolute
      top:42%
      left: 26%
      color: #fff
      font-size 1rem
  .denglu_one_cont
    width: 87%;
    margin:0 auto;
    overflow: hidden;
    .zhanghao
      width: 100%;
      overflow: hidden;
      height: 2rem;
      padding-left: 0.8rem;
      .zhanghao_title
        font-size:0.7rem;
        padding-right: 0.4rem;
        color: #848689;
      .zhanghao_inout
        width: 75%;
        border:none;
        border-bottom: 1px solid #ccc;
        font-size: 0.7rem;
        padding-left: 0.3rem;
    .mima
      width: 100%;
      overflow: hidden;
      padding-left: 0.8rem;
      margin-bottom: 1rem;
      .mima_title
        font-size:0.7rem;
        padding-right: 0.4rem;
        color: #848689;
      .mima_inout
        width: 75%;
        border:none;
        border-bottom: 1px solid #ccc;
        font-size: 0.7rem;
        padding-left: 0.3rem;
    .mima_submit
      width: 100%;
      height: 2rem;
      line-height: 2rem;
      font-size: 0.75rem;
      color: #fff;
      background: #3a9ae6;
      text-align: center;
      margin-top: 3rem;
  .denglu_foot
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0
    font-size: 0.5rem;
    color: #ccc;
    text-align: center
