.jiudianwrap
  background: #fff
  padding:0 px2rem(20)
  .jiudianss
    height: px2rem(56)
    border-radius: px2rem(20)
    background: #e6e6ea
    font-size: px2rem(26)
    color: #b2b2b2
    margin-top: px2rem(13)
    margin-bottom: px2rem(52)
    text-align: center
    position: relative;
    input
      float: left;
      position: absolute;
      top 0
      left: 0
      bottom: 0
      right: 0
      background: transparent
      border: none
      outline: none
      line-height: px2rem(56)
      // top: -9999px
      // left: -9999px
    .input
      display: inline-block;
      height: px2rem(56)
      line-height: px2rem(56)
      position: relative;
    .input:before
      content: ''
      float: left
      position: absolute;
      top px2rem(15)
      left px2rem(-45)
      width: px2rem(25)
      height: px2rem(25)
      background: url('./img/search.png') no-repeat
      background-size 100% 100%
  .item
    margin-bottom px2rem(43)
    padding: 0 px2rem(20)
    border-radius: px2rem(10)
    border 1px solid #f0f0f0
    box-shadow: 0 0 px2rem(12) 0 rgba(169, 185, 209, 0.21)
    color: #000
    .item-top
      margin-top: px2rem(30)
      clearfix()
      .top-title
        float left
        font-size: px2rem(30)
        &:before
          content:''
          float: left
          width: px2rem(8)
          height: px2rem(32)
          margin-right px2rem(17)
          background #5a95f8
          border-radius: px2rem(8)
      .fen
        float: left
        margin-left: px2rem(20)
        width: px2rem(60)
        margin-top px2rem(4)
        line-height: px2rem(22)
        border-radius: px2rem(11)
        background: #e2fde7
        color: #37d397
        font-size: px2rem(24)
        text-align: center
        &.warn
          background: #feecf1
          color #fb396f
      .jiantou
        float: right;
        width: px2rem(25)
        height: px2rem(25)
        position: relative;
        &:after
          content:"";
          width: px2rem(25)
          height: px2rem(25)
          border-right:2px solid #c7c7cc;
          border-top:2px solid #c7c7cc;
          display:inline-block;
          vertical-align: middle;
          transform:translate(-50%,-50%) rotate(45deg);
          position:absolute;left:0;top:50%;margin-left: 2px;
          box-sizing:border-box;
    .item-middle
      margin-top px2rem(50)
      padding-left px2rem(6)
      clearfix()
      .middle-l
        float: left
        width: 48%
        box-sizing: border-box;
        padding-left px2rem(20)
        font-size: px2rem(24)
        .title1
          color #343434
        .title2
          margin-top: px2rem(20)
          font-size: px2rem(36)
          color #5a95f8
        .title3
          margin-top: px2rem(20)
          color #848689
        .title4
          color #5a95f8
      .middle-l:last-child
        border-left: 1px solid #f0f0f0
        padding-bottom: px2rem(10)
    .item-bottom
      margin px2rem(34) 0
      background #f5f5f5
      border-radius: px2rem(10)
      flexbox()
      justify-content(space-between)
      position: relative
      .bottom-i
        float: left
        width: 33.333%
        padding px2rem(20) 0
        text-align: center
        .title1
          font-size: px2rem(24)
          color: #848689
        .content1
          margin-top px2rem(10)
          font-size: px2rem(28)
          color: #121212
    .item-bottom:before
      content: ''
      display: inline-block;
      border-width:px2rem(28) px2rem(25);
      border-style: solid;
      border-color:transparent transparent #f5f5f5 transparent;
      position: absolute;
      left: px2rem(50)
      top px2rem(-56)
