



.mainfooter
    background #1b316f
    width 100%
    color #fff
    text-align center
    height 40px
    line-height 40px
    position relative
    bottom 0px

    p
        font-size 14px
    span
        height 100%
        display inline-block
        position absolute
        right 35px
        top 0
        font-size 14px
