.table-baoxiu
   .modal-alert.modal-timemodel
      .content
         .content_input
            label
              display: inline-block;
              width: 30%
              text-align: right;
            .select
              float: left
      .ui.dropdown
         background-color: #fff
         color #333
         .menu.visible
           color: #333;
           background-color: #fff
           .item
             color #333
             &:hover
               background-color: rgba(0, 0, 0, 0.05);
      .ui.selection.dropdown
        min-height: inherit;
        padding 8px
        > .dropdown.icon
          top auto
        .menu>.item
          border-top-color transparent
      .ui.selection.active.dropdown
         border-color rgba(34, 36, 38, 0.15)
         .menu
           border-color transparent
