/**
 * @file monitem
 * @author luwenlong <zuiwosuifeng@gmail.com>
 */

.panel-qushi
    height 240px
    width 100%
    background rgba(139,167,233,0.212)
    margin-bottom 20px
    flexbox()
    justify-content(space-between)

    align-items(center)
    position relative
    .panel-shouyi
        width 20%
        height 240px
        margin-left 2%
        h3
            font-size 24px
            margin-top 20px
            margin-left 20px
            color #ffffff
        .shouyi
            width 80%
            height 60%
            margin-left 10%
            margin-top 10%
            text-align center
            color #ffffff
            span
                margin 10px
                font-size 16px
            .value
                width 100%
                margin-top 20px
                flexbox()
                justify-content(center)
                align-items(center)

                dt
                    font-size 16px
                span
                    font-size 30px

    .panel-jienenglv
        width 25%
        height 240px
        text-align center

        .tab-2
            height 60%
            margin-top 30px
            text-align center

        span
            font-size 16px
            color #ffffff
            text-align center

    .panel-quxian
        width 50%
        height 240px
        text-align center
        padding-top 5px
        .quxian-zhouqi
            width 120px
            height 24px
            right 0px
            padding-right 20px
            font-size 16px
            position absolute
            span
                float left
                width 50%
                height 24px
                line-height 24px
                color #21b5d5
                cursor pointer
                &.active
                    color #fff
        .tab-2
            height 80%
            margin-top 30px
            text-align center


        span
            text-align center
            font-size 16px
            color #ffffff
