/**
 * @file monitem
 * @author zlc <lichao9182@126.com>
 */

.qushi
    width 90.7%
    height auto!important
    //background url('./img/wwybg.png') no-repeat
    background-size 100% 100%
    padding 20px 30px 0px 30px