.xunjiandanwrap
  background: #fff
  width: 100%
  // position: absolute;
  // top: 0
  // bottom px2rem(100)
  // overflow-y: auto;
  // padding-bottom px2rem(100)
  .xunjiandan-search
    height px2rem(70)
    line-height px2rem(70)
    background #5a95f8
    text-align center
    color #d7e8ff
    font-size px2rem(30)
  .xunjiandan-body
    .table-head
      height px2rem(72)
      border-bottom 1px solid #f0f0f0
      flexbox()
      justify-content(space-between)
      div
        width 33%
        text-align: center
        color #848689
        font-size px2rem(26)
        line-height: px2rem(72)
    .table-tr
      height px2rem(88)
      border-bottom 1px solid #f0f0f0
      flexbox()
      justify-content(space-between)
      div
        width 33%
        text-align: center
        color #8d8f91
        font-size px2rem(30)
        line-height: px2rem(88)
        position relative
      div.wancheng,div:nth-child(2)
        color #282828
      div.dxj
        color #64a3fb
      div:last-child:before
        content ''
        display: inline-block
        width px2rem(20)
        height px2rem(20)
        position absolute
        top 50%
        right px2rem(20)
        border-top 2px solid #c7c7cc
        border-right 2px solid #c7c7cc
        transform translate(0,-50%) rotate(45deg)
    