/**
 * @file monitem
 * @author zlc <lichao9182@126.com>
 */
.fix:after
    content: ""
    display: block
    height: 0
    clear: both
    visibility: hidden
.fix
    *zoom: 1;
.table-baoyangjihuashezhi
  width 100%
  background-size 100% 100%
  overflow-y: auto;
  div
    font-size 16px
  .weixiu-title
        height 50px
        width 90%
        flexbox()
        margin 0 30px 0 20px
        justify-content(space-between)
        align-items(center)
        font-size 20px
        color #fff
        text-indent 10px
  .query-condition
    display flex
    margin-left 2%
    flex-align center
    align-items center
    flex-pack flex-start
    justify-content flex-start
    font-size 16px
    color #969696
    position relative
    margin-bottom 10px
    margin-top 10px
    padding-bottom 10px
    border-bottom 2px solid #7ac6ff
    label
        margin 0 10px
        color white
    .query-name
      font-size 16px
      margin 0 10px
      color white
      &:first-child
        margin-left: 0
    .query-value
        font-size 14px
        height 30px
        input[type='text']
          outline: none
          border: 2px solid #5da6ea
          padding-top 0
          padding-bottom 0
          padding-left 10px
          height: 30px
          line-height: 30px
          border-radius: 3px
          background: #3c75c2;
          color #fff
          &:focus
            border-color #fff
        .ui.selection.dropdown
            min-height 30px
            padding-left 10px
            .dropdown.icon
                padding-right 5px
        .ui.dropdown
            color #fff
            background #3c75c2
            margin auto
            min-width  9em
            .default.text
                color #fff
            .ui.label
                color #fff
                background #0a448c
                font-weight normal
            .menu.visible
                color #fff
                background #3c75c2
                .item
                    color #fff
                    border-bottom 1px solid #5da6ea
                    &:hover
                        background #59a1e1
    .query-commit
        width 90px
        height 30px
        margin-left 10px
        line-height 30px
        text-align center
        background #254394
        color #fff
        border-radius 3px
        cursor pointer
        &:hover
            background #7ac6ff
        &.gray,
        &.gray:hover
            background #c6c6c6
    .query-btn
        width 90px
        height 30px
        line-height 30px
        text-align center
        background #254394
        color #fff
        border-radius 3px
        cursor pointer
        position absolute
        right 2%
        &:hover
            background #7ac6ff
        &.gray,
        &.gray:hover
            background #c6c6c6
    .dropdown
      min-width: 9em;
      min-height: 30px;
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0;
      .dropdown.icon
        width 20px
        right -38px
        top 7px
        margin 0
        padding 0
  .weixiu-table
    width 96%
    margin-left 2%
    .xinzeng-btn
      text-align: right
      margin-bottom: 10px
      span
        display: inline-block;
        cursor:pointer
        width: 90px
        height: 30px
        line-height: 30px
        text-align: center
        //background-color: #2a57ff
        border-radius: 3px
        color: #fff
      span:hover
        //background-color: #2c8cf9
  .modal-xinzeng
    position: absolute
    top 0
    left: 0
    right 0
    bottom 0
    overflow: auto;
    padding 10px
    background: linear-gradient(#162467,#0562a1)
    .title
       text-align: right
       padding: 10px
       .btn
         cursor pointer
         display: inline-block;
         width: 70px
         margin 0 10px
         height: 30px
         line-height: 30px
         background-color: #2c8cf3
         color: #fff
         text-align: center
         border-radius: 5px
         font-size: 15px
         &:hover
           background-color: #2a57ff
    .gongdan-content
      width: 90%
      margin 0 auto
      padding-bottom 60px
      font-size: 16px
      .ul_1b
        border-bottom: 1px solid #ccc
        padding-bottom 20px
      .ul_1
        margin-top 20px
        .items
          float: left
          width: 100%
          padding: 10px 0
          color #fff
          .div1
            float left
            width: 15%
            padding 6px
            text-align: right;
            margin-top 6px
            .xing
              display: inline-block
              margin-right: 5px
              vertical-align: top;
              color: #f00
              font-size: 26px
          .div1_tl
            margin-top: 0
            text-align left
            color #000
            input[type='text']
              display: inline-block;
              width 90%
              outline: none
              border: 1px solid #ccc
              padding 4px
              border-radius: 3px

          .divlbl
            width auto!important       
          .div2
            float left
            width: 30%
            text-align left
            input[type='text'],textarea
              display: inline-block;
              width 70%
              outline: none
              border: 2px solid #5da6ea
              padding-top 0
              padding-bottom 0
              padding-left 10px
              height: 30px
              line-height: 30px
              border-radius: 3px
              background: transparent;
              color #4591d5
              &:focus
                border-color #fff
                color #fff
            .label
              display: inline-block;
              margin-left: 13px
              margin-top: 6px
            .span-btn
              cursor pointer
              display: inline-block;
              margin-left: 10px
              margin-top 6px
              vertical-align top
            .span-btn.span-btn-b
              border 1px solid #ccc
              margin-top 0
              background: #c9c9c9
              border-radius: 2px
              padding 5px 30px
            .selectsMul
              display: inline-block;
              width 70%
              height: 80px
              padding 6px
              border 1px solid #c6c6c6
              background-color #fff
              border-radius 3px
              overflow: auto
              color: #333
              .selects_item
                display: inline-block
                padding 3px 5px
                background-color: rgba(0,0,0,0.08)
                margin: 5px
                font-size 13px
                i
                  display: inline-block;
                  width: 10px
                  height: 10px
                  margin-left: 5px
                  background: url(img/u9571.png) no-repeat
                  background-size 100%
            .sousuo
              display: inline-block
              width 100px
              height: 36px
              line-height 36px
              margin-left 5px
              border-radius 3px
              text-align: center
              background-color #2c8cf3
              color #fff
          .sousuo_con
            span
              display block
              margin-bottom: 10px
          .div_time
            margin-top 3px
            width 280px!important
          .div3
            float left
            width 60%
            line-height: 1.5
            textarea
              resize none
              display: inline-block;
              width: 100%
              padding 5px
              background-color: transparent
              border: 2px solid #5da6ea
              height: 6em
              color #4591d5
              &:focus
                 border-color #fff
                 color #fff
          .div_fujian
            float left
            width 20%
            height: 6em
            padding-top: 30px
            >span
              display: block;
              padding 5px 0
      .table-title
        margin 20px 0
        color #fff
        font-size: 18px
      .jiesuandan-con
        margin-bottom 10px
      .content-botm-btn
        cursor pointer
        display: block;
        width 130px
        color #fff
        background-color #2a57ff
        border-radius: 5px
        padding 13px 0
        margin:50px auto;
        text-align: center
        &:hover
          background-color #2c8cf9
    .query-value
      float: left
      height 30px
    .dropdown
      min-height: 30px
      line-height: 30px
      padding-top 0
      padding-bottom 0
  .modal-xinzeng.modal-chakan
    .gongdan-content
      .ul_1
        .items
          .div1_tl
            margin-top: 6px
            color #fff
  .modal-alert
    position: absolute;
    padding 10px
    width: 300px
    top 12%
    left: 50%
    transform translate(-50%,0)
    background-color: #fff
    border 1px solid #ccc
    border-radius: 5px
    box-shadow: 1px 2px 12px rgba(0,0,0,0.5)
    .title
      height: 30px
      line-height: 30px
      padding-left: 10px
    .content
      padding: 10px
      text-align: center
    .footer
      margin: 20px 0
      text-align: center;
      span
        cursor pointer
        display: inline-block;
        margin: 0 20px
        border: 1px solid #c6c6c6
        padding: 10px 15px
        border-radius: 5px
  .modal-alert.modal-guanlian
    width 60%
    .title
      height: auto;
      .spans
        float: right;
        text-align: right;
      .spans,.search
        span
          cursor pointer
          display: inline-block;
          margin: 0 10px
          padding: 0 15px
          border-radius: 5px
          background: #0a5fbb
          color #fff
          font-size: 14px
      .search
         padding: 10px
         input
           outline: none
           border 1px solid #dfdfdf
           padding 5px
           font-size: 14px
           border-radius: 3px
           margin-right: 10px
         span
           background: #dfdfdf
           font-size: 13px
           color #333
    .content
      font-size: 14px
      max-height 400px
      overflow: auto
      li
        padding: 10px 0
        border-top 1px solid #ccc
        span
          float left
          width 28%
          text-align: left
        .li_span1
          width 12%
          text-align: center
      li:last-child
        border-bottom 1px solid #ccc
  .modal-alert.modal-guanlian.modal-peijian
    z-index: 10
    width 40%
    li
      span
        width: 48%
        height: 20px
        line-height: 20px
        text-align center
        input
          outline: none
          border: 1px solid #ccc
          border-radius: 3px
          padding 2px 5px
  .ui.dropdown
    color #fff
    background #3c75c2
    min-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    .default.text
      color #fff
    .ui.label
      color #fff
      background #0a448c
      font-weight normal
    .menu.visible
      color #fff
      background #3c75c2
      .item
        color #fff
        border-bottom 0 solid #5da6ea
        &:hover
            background #59a1e1
    .dropdown.icon
      top 7px
      margin 0
      padding 0
  .ui.selection.dropdown
    .menu > .item
      border-top-color #5da6ea
.pages
  margin-top: 50px
