/**
 * @file 报警
 * @author luwenlong <zuiwosuifeng@gmail.com>
 */

.gfy-warn
    width 100%
    background-size 100% 100%
    .query-condition
        width 90%
        height 30px
        display flex
        flex-align center
        align-items center
        flex-pack flex-start
        justify-content center
        font-size 16px
        color #969696
        position relative
        margin-top 10px
        .query-btn
            width 106px
            height 30px
            line-height 30px
            text-align center
            background #254394
            color #fff
            border-radius 3px
            cursor pointer
            position absolute
            right 0px
            &:hover
                background #2a57ff
            &.gray,
            &.gray:hover
                background #c6c6c6
        label
            margin 0 10px
            color white
        .query-name
            font-size 16px
            margin-right 10px
            color white
        .query-value
            font-size 14px
        .daily-wrap
            margin 15px 0
            border 1px solid #ebebed
            width 216px
            height 28px
            line-height 28px
            display inline-flex
            flex-align center
            align-items center
            flex-pack flex-start
            justify-content flex-start
            font-size 14px
            .icon.calendar
                margin 0 5px
                height auto
            >div
                display inline-block
            input
                border none
                width 90px

    .rp-wrap
        width 90%
        .warn-table
            margin-left  2%
            margin-top 20px
