.fenge
  height: px2rem(20)
  background: #f6f6f6
.xiaoxiwrap
  
  padding-bottom px2rem(120)
  background: #fff
  .xiaoxi-item
    padding-left px2rem(20)
    padding-right px2rem(20)
    box-sizing: border-box
    width: 100%
    clearfix()
    height: px2rem(120)
    .left-item
      float: left
      width px2rem(108)
      i
        float: left
        width: px2rem(70)
        height: px2rem(70)
        margin-top: px2rem(20)
        margin-left: px2rem(8)
      i.nengxiao
        background: url('./img/nengxiao.png') center center no-repeat
        background-size: 100% 100%
      i.shebei
        background: url('./img/shebei.png') center center no-repeat
        background-size: 100% 100%
      i.fenxibaogao
        background: url('./img/fenxibaogao.png') center center no-repeat
        background-size: 100% 100%
      i.peixunjiaoshi
        background: url('./img/peixunjiaoshi.png') center center no-repeat
        background-size: 100% 100%
      i.user
        background: url('./img/myxx.png') center center no-repeat
        background-size: 100% 100%
    .right-item
      float: left
      width: 80%
      height: 100%
      border-bottom 1px solid #f0f0f0
      .right-title
        height: px2rem(30)
        line-height: px2rem(30)
        margin-top: px2rem(30)
        font-size: px2rem(30)
        color: #1a1a1a
        .time
          float: right;
          font-size: px2rem(20)
          color: #a0a3a5
      .right-content
        margin-top px2rem(12)
        font-size: px2rem(26)
        color: #848689
