.jituanwrap
  background: #fff
  .jituan-wiper
    height px2rem(390)
    padding: px2rem(20) 0
    box-sizing border-box
    .swiper-container
      width: 100%;
      height 100%
      .swiper-wrapper
        padding: px2rem(20) 0
      .swiper-slide
        width:px2rem(650)
        transform-style:preserve-3d
        &:nth-child(1)
          margin-right px2rem(20)
        &:nth-child(2)
          margin-left px2rem(20)
  .item.item2
    background linear-gradient(-42deg,rgba(91, 67, 255, 0.61) 0%, rgba(219, 37, 249, 0.61) 100%)
    box-shadow: 0px px2rem(5) px2rem(31) px2rem(14) rgba(91,67,255,0.23)
  .item
    width: px2rem(650)
    height px2rem(285)
    // margin 0 auto
    // width 100%
    // height 100%
    box-sizing border-box
    border-radius: px2rem(10)
    background linear-gradient(-36deg,rgba(83, 147, 253, 0.61) 0%, rgba(64, 69, 248,0.61) 100%)
    box-shadow: 0px px2rem(5) px2rem(31) px2rem(14) rgba(78, 114, 249, 0.23)
    color: #fff
    .title1
      font-size: px2rem(24)
      color: #d2e0fc
    .content1
      font-size: px2rem(48)
      margin-top: px2rem(10)
    .content2
      font-size: px2rem(24)
      margin-top: px2rem(10)
    .item-top
      padding-top px2rem(40)
      padding-left px2rem(30)
    .item-bottom
      padding-top px2rem(60)
      padding-left px2rem(30)
      clearfix()
      .bottom-left
        float left
      .bottom-right
        float right
        padding-right px2rem(40)
