/**
 * @file 图表组件
 * @author zlc <lichao9182@126.com>
 */

.circle-wrap
    width 300px
    height 250px
    position relative
    padding-bottom 14px
    border 1px solid transparent
    &.active
        border 2px solid #fff
    &:hover
    	border 2px solid #fff

    h3
        height 44px
        line-height 44px
        color #fff
        background url('./h3bg.png') no-repeat center center
        background-size 100% 100%
        box-shadow: 0px 1px 5px 0px rgba(36, 77, 108, 0.75);
        text-align center
        margin-bottom 10px
        cursor pointer
        font-size 16px
    canvas
        display block
        margin 0 auto
    .circle-view
        position relative
        margin 0 auto
        text-align center
        p, span
            position absolute
            width 100%
            display block
            text-align center
            color #fff
        p
            top 45%
            height 66px
            margin-top -33px
            font-size 46px
            span
                top 0%

        span
            top 70%
