@require 'initialize';
@require 'image';
@require 'mixin';
@require 'styleblue'; /* 样式: stylegray stylewhite styleblue */
@require 'mobile';


initialize()
/* 白色菜单项 active over color 交换*/
menuBgColor = #ffffff  /* white:#ffffff,  gray: #1e202f  blue: #14204e */
menuItemColor = #b2c2d0 /* white:#b2c2d0,  gray: #9e9eab blue: #a3cff6 */
menuItemOverColor = #405e7c /*white:#405e7c    gray: #646390 blue: #2c8cf9 */
menuItemActiveColor = #4886ff /*white:#4886ff    gray: #ffffff blue: #ffffff*/

html,
body
    height 100%
    -webkit-overflow-scrolling touch
    -webkit-text-size-adjust 100% !important
    background #f3f3f3
    width 100%
    font-size 12px


html
    font-size 12px
    color #333

a
    color #3a9ae6
    text-decoration none

input,
select {
    -webkit-appearance:none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*点击高亮的颜色*/
    outline: none;
}

//a:focus,
button:focus,
input:focus {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-modify: read-write-plaintext-only;
    outline: none;
}

.blur
    filter blur(px2rem(5))

::-webkit-input-placeholder
    position relative
    top -1px
    color #999

#app
    height 100%
    min-height 100%
.per
    height 100%
    min-height 100%
    background-color: #fff
    flexbox()
    flex-direction(column)
    justify-content(space-between)

.pageLoading
    background rgba(255, 255, 255, .5)
    position fixed
    width 100%
    height 100%
    z-index 20
    flexbox()
    justify-content(center)
    align-items(center)
    span
        display block
        width px2rem(39)
        height px2rem(39)
        // background url('../common/img/pageloading.gif') no-repeat
        background-size 100% 100%
.per_wrap
    position: absolute;
    top px2rem(76)
    bottom px2rem(100)
    width: 100%
    box-sizing: border-box;
    overflow: auto
.per_wrap2
    position: absolute;
    top px2rem(76)
    bottom 0
    width: 100%
    box-sizing: border-box;
    overflow: auto
@require '../common/dist/semantic.css';