$textColor= #d7eafb

.theheader 
     background-color #ffffff
     box-shadow 0px 6px 30px 9px rgba(130, 130, 130, 0.1)
     h1 p span 
            color #4886ff!important
     .theMenu
            background-color #4886ff
     .usericon
        background url('./img/white_user.png') no-repeat center center
.theBody
    background-color #f2f6f9 


    .contentDiv
               background-color #ffffff
               border-radius 3px
               padding 20px 0px
    .contentDiv2
               background-color #ffffff
               border-radius 3px
    .contentDiv3
               background-color #ffffff  
               color  #405e7c !important
    .tabBkColor1
               background-color #f9fafc!important
    .tabBkColor2
               background-color #f9fafc!important  /* old:#6597f5003466 */
               .div1_1 .div1_1_left
                  background-color #4886ff!important  /* old: #0049f9  按钮颜色*/
               .atop  
                  color #405e7c!important
               .abottom
                  color #859db4!important /* old: ##6597f5  第二行文本颜色*/             
    .labStyle /* 2018.5.2  label text color :  white:#859db4  gray #a2a1b3   blue: #a3cff6 */
               //font-size 15px
               color #859db4!important    
               .numStyle
                   color #405e7c   
    .gao-head  
              background-color #00b3ad
    .liang-head
              background-color #fdac3b              
    .zhong-head
              background-color #fa5576
    .di-head
              background-color #4886ff                       
    .commitBtn,.rightBtn
                width 90px
                height 30px
                margin-left 10px
                line-height 30px
                text-align center
                background #4886ff
                color #fff!important
                border-radius 3px
                cursor pointer
                &:hover
                    background  #1458dd  
    .rightBtn
            position absolute
            right 2%
    .el-mytable
        .el-tbody 
            &:nth-child(even)
                background white  /* blue: #20529e gray: #333254  white: white  */
        .el-thead,.el-tbody
             background  #f9fafc /*white #f9fafc  blue: #1d468a */
             li
                color #405e7c   /*  white: #405e7c*/
    .tabshow .tabCol .row2 .row21
             color #405e7c!important

.mainfooter
  background-color #ffffff!important
  color #4886ff!important

menuBgColor = #ffffff  /* white:#ffffff,  gray: #1e202f  blue: #14204e */
menuItemColor = #b2c2d0 /* white:#b2c2d0,  gray: #9e9eab blue: #a3cff6 */
menuItemOverColor = #405e7c /*white:#405e7c    gray: #646390 blue: #2c8cf9 */
menuItemActiveColor = #4886ff /*white:#4886ff    gray: #ffffff blue: #ffffff*/
   

.charts-menu-2
     background menuBgColor
     .charts-menu-list       
     
         .charts-menu-item
             color menuItemColor       
             &:hover
                 color menuItemOverColor             
             &.active
                 color menuItemActiveColor            
             span          
                 dd                 
                     color menuItemColor                  
          .charts-menu-item-child
              background menuBgColor             
              div
                  color menuItemColor                
                  &.active                
                      color menuItemActiveColor    
                  &:hover                
                      color menuItemOverColor
                      
.per-content
     .charts-menu-list2 
          background menuBgColor    
          .charts-menu-item  
                color menuItemColor           
          .charts-menu-item.active           
                color menuItemActiveColor           
          .charts-menu-item:hover  
                color menuItemOverColor            
     .right-content   
         .right-menus           
             background menuBgColor /* #0f1d52 */
             .mitem            
                 color menuItemColor /* #7598f7 */               
             .mitem.active            
                color menuItemActiveColor /* #fff */               
             .mitem:hover  
                color menuItemOverColor /* #fff */   

         .el-edittable
              .el-table
                  .el-tbody 
                      &:nth-child(even)
                          background white      /* blue: #20529e gray: #333254  white: white*/
                  .el-thead,.el-tbody
                       border 0px solid #3f6cbb
                       background  #f9fafc /*white #f9fafc  blue: #1d468a */
                       li
                          color #405e7c   /*  white: #405e7c blue: #ffffff*/  
                          border 0px solid #3f6cbb                              