$textColor= #d7eafb

.theheader
     background-Color #1e4386!important
     box-shadow 0px 6px 30px 9px rgba(130, 130, 130, 0.1)
     h1 p span
            color #2c8cf9!important
     .theMenu
            background-color #2c8cf9

     z-index auto!important
.theBody
    /*background-color #0f397e*/

    .titleline
             padding 10px 0px
    .titleName
            color white
            font-size 16px
    .titleName2
            color white
            font-size 13px
    .subContent
            background-color rgba(15, 45, 107, 0.7)
            border-radius 3px
            color #fcfcfc
            width 300px
            height 80px
            line-height 25px
            padding 15px 20px
            margin-left 10px
            margin-top 20px


    .contentDiv
               /*background-color #1f549f*/
               border-radius 3px
               padding 20px 0px
               background-color rgba(79, 118, 201, 0.3)
               /*background-color #4f76c9 /*
               /*opacity 0.2*/
    .contentDiv2
               background-color #1f549f
               border-radius 3px
    .contentDiv3
               background-color #1f549f
    .tabBkColor1
               background-color #1d468b!important
    .tabBkColor2
               background-color #1d468b!important  /* old:#6597f5003466 */
               .div1_1 .div1_1_left
                  background-color #2c8cf9!important  /* old: #0049f9  按钮颜色*/
               .abottom
                  color #a3cff6!important /* old: ##6597f5  第二行文本颜色*/
    .labStyle /* 2018.5.2  label text color :  white:#859db4  gray #a2a1b3   blue: #a3cff6 */
               //font-size 15px
               color #a3cff6!important    /*gray: #859db4  blue: #d7eafb  */
               .numStyle
                   color #ffffff
    .gao-head
              background-color #2c8cf9
    .liang-head
              background-color #0ddfb4
    .zhong-head
              background-color #f5b054
    .di-head
              background-color #fa9789
    .commitBtn,.rightBtn
                width 90px
                height 30px
                margin-left 10px
                line-height 30px
                text-align center
                background #2c8cf9 /* gray:#646390   4886ff #3a9ae6*/
                color #fff!important
                border-radius 3px
                cursor pointer
                &:hover
                    background   #2a57ff  /* #3e3c90 #7ac6ff*/
    .rightBtn
            position absolute
            right 2%
    .el-mytable
        .el-tbody
            &:nth-child(even)
                background  #20529e
        .el-thead,.el-tbody
             background #1d468a
             li
                color #ffffff
.mainfooter
  background-color #1e4386!important
  color #2c8cf9!important

menuBgColor = #14204e  /* white:#ffffff,  gray: #1e202f  blue: #14204e */
menuItemColor = #a3cff6 /* white:#b2c2d0,  gray: #9e9eab blue: #a3cff6 */
menuItemOverColor = #2c8cf9 /*white:#405e7c    gray: #646390 blue: #2c8cf9 */
menuItemActiveColor = #ffffff /*white:#4886ff    gray: #ffffff blue: #ffffff*/


.charts-menu-2
     background menuBgColor
     .charts-menu-list
         .charts-menu-item
             color menuItemColor
             &:hover
                 color menuItemOverColor
             &.active
                 color menuItemActiveColor
             span
                 dd
                     color menuItemColor
          .charts-menu-item-child
              background menuBgColor
              div
                  color menuItemColor
                  &.active
                      color menuItemActiveColor
                  &:hover
                      color menuItemOverColor

.per-content
     .charts-menu-list2
          background menuBgColor
          .charts-menu-item
                color menuItemColor
          .charts-menu-item.active
                color menuItemActiveColor
          .charts-menu-item:hover
                color menuItemOverColor
     .right-content
         .right-menus
             // background menuBgColor /* #0f1d52 */
             border-bottom 1px solid #5085c6
             .mitem
                 //color menuItemColor /* #7598f7 */
                 color #fff
             .mitem.active
                border-bottom 2px solid menuItemActiveColor
             .mitem:hover
                color menuItemOverColor /* #fff */

         .el-edittable
              .el-table
                  .el-tbody
                      &:nth-child(even)
                          background #20529e      /* blue: #20529e gray: #333254 #f9fafc #1f3d81*/
                  .el-thead,.el-tbody
                       border 0px solid #3f6cbb
                       background  #1d468a /*white #152c6c  blue: #1d468a gray:#2f2e4b */
                       li
                          color #ffffff   /*  white: #405e7c*/
                          border 0px solid #3f6cbb
.ui.dropdown > .text
     font-size 16px
