     /*   bodyBgColor =  gray: #25253d  blue: #0f397e  white: #f2f6f9 */
     /*  chartBgColor =  gray: #2f2e4b  blue: #1f549f  white: #ffffff */
     /*   textColor   =  gray: #859db4  blue: #d7eafb  white: #859db4 */



 /* gray: */
 /*
  bodyBgColor = #25253d 
  chartBgColor = #2f2e4b   
  textColor = #859db4
*/

/* blue: */
/*
 bodyBgColor = #0f397e
 chartBgColor = #1f549f   
 textColor = #d7eafb     
*/


/* white: */
/*
 bodyBgColor = #f2f6f9
 chartBgColor = #ffffff   
 textColor = #859db4     
*/

 

