/**
 * @file 表格
 * @author zlc <lichao9182@126.com>
 */

.el-edittable
    .el-thead,
    .el-tbody
        font-size 14px
        height 50px
        line-height 50px
        /*background #3a9ae6*/
        background #152c6c
        display flex
        flex-align center
        align-items center
        color #fff
        border-bottom 1px solid #3f6cbb
        border-top 1px solid #3f6cbb
        button
            font-size 14px
        li
            text-align center
            border 1px solid #3f6cbb
            height 50px
            line-height 50px
            color #fff

    .el-tbody
        background #153271
        color #fff
        &:nth-child(even)
            background #1f3d81
        input
            text-align center
            width 80%
            height 80%
            border none
            border-bottom 1px solid #ccc
        .editli
            display none
        li
            span
                display block
                width 100%
                height 100%

    .el-btns

        display flex
        flex-align center
        align-items center
        flex-pack flex-end
        justify-content flex-end
        font-size 14px
        margin-top 40px
        span
            display inline-block
            width 160px
            height 50px
            line-height 50px
            text-align center
            font-size 16px
            cursor pointer
        .el-save
            color #fff
            background $base
            border-radius 5px
            margin-right 20px
        .el-cancel
            color #fff
            background #fff
            border 1px solid #c6c6c6
            border-radius 5px
