/**
 * @file 用户管理
 * @author zlc <lichao9182@126.com>
 */

$base = #3a9ae6;

.ui.input.focus input,
.ui.input input:focus
    border-color $base

.kailan-wrap
    padding 20px 20px
    position relative
    overflow-y  auto
    /*height 400px*/
    height 200px
    font-size 18px
    h3
        color $base
        font-size 24px
        padding-bottom 10px
        border-bottom 2px solid '#666666'
    .device-item
        margin-bottom 20px
        flexbox()
        justify-content(flex-start)
        label
           background #F4F8FC
           padding 5px 10px
        h4
            width 160px
            color #333
            font-size 14px
            margin-bottom 0px
            line-height 20px
            display block
            word-break break-all
            word-wrap break-word

        input
            width 350px
            height 40px
            line-height 40px
            border 1px solid #f2f4f6
            text-indent 10px
    .device-btn
        width 460px
        height 42px
        line-height 42px
        text-align center
        font-size 14px
        background $base
        color #fff
        margin-top 40px
        cursor pointer
        &:hover
            background #7ac6ff

    .sp-ext
        position absolute
        right 20px
        top 20px
        cursor pointer
        background url('./img/exit.png') no-repeat center center
        width 32px
        height 30px
