/**
 * @file 报表
 * @author luwenlong <zuiwosuifeng@gmail.com>
 */

.jiankang-kailan
    position relative
    width 100%
    .head-part
        margin 0px 0px 0 0px
        border 0px solid red
        //color white
        font-size 16px
        height 5%
        .query-line
            font-size 14px
            flexbox()
            justify-content(space-between)
            align-items(center)
            margin-top 1%
            .item8
                flex-grow 10
            .item1
                flex-grow 1
                background url('./img/guzhangtingji.png')  no-repeat
                background-position 0px 0px
            .item2
                flex-grow 1
                background url('./img/guzhangtingji.png')  no-repeat
                background-position 0px 0px
            .item3
                flex-grow 1
                background url('./img/feiguzhangtingji.png')  no-repeat
                background-position 0px 0px
             .item4
                flex-grow 1
                background url('./img/weixiu.png')  no-repeat
                background-position 0px 0px
             .item5
                flex-grow 1
                background url('./img/baoxiu.png')  no-repeat
                background-position 0px 0px
            .item6
                flex-grow 1
                background url('./img/baoyang.png')  no-repeat
                background-position 0px 0px


    .rp-wrap
            width 100%
            height 95%
            margin 0px auto 0
            padding 0px 20px 0px 20px
            overflow-x hidden
            overflow-y auto
            flexbox()
            justify-content(space-between)
            .center-charts3
               font-size 14px
               width 80%
               flexbox()
               flex-direction(column)
               justify-content(space-between)
            .right-charts
                width 18%
                border 0px solid red
                font-size 14px
                color white
                flexbox()
                flex-direction(column)
                justify-content(space-between)
                .theRow
                    font-size 14px
                    color white
                    flexbox()
                    flex-direction(column)
                    justify-content(flex-end)
                    .yunxing
                        //background #002958
                        padding 10px 20px
                        .theHour
                            font-size 20px
                            padding 0px 20px
                    .tingji
                        //background #2D4D76
                        padding 10px 20px
                        margin-top 10px
                        .theHour
                            font-size 20px
                            padding 0px 20px





    .charts-wrap
            width 100%
            /* min-height 920px
            height auto!important*/
            //background url('./img/mainbg.png') no-repeat
            background-size 100% 100%
            position relative
    .body-head
            flexbox()
            justify-content(space-between)
            align-items(center)
            color white
            font-size 16px
            padding 15px 20px
            .tab-head
                flexbox()
                justify-content(space-between)
                padding 20px 20px
                font-size 18px
                background-color #0048F1
                width 22%
                cursor pointer
                .title-head
                     font-size 18px
                .num-head
                     font-size 18px
            .tab-head.active
                border 1px solid white
            .tab-head:hover
                border 1px solid white
            .gao-head
                background-color #0048F1
            .zhong-head
                background-color #003EB2
            .di-head
                background-color #06498F

        .left-charts2
            height 100%
            position absolute
            left 20px
            border 0px solid red
            top 0px
            flexbox()
            flex-direction(column)
            justify-content(space-around)
            .div1
               height 280px
               background-color rgba(139,167,233,0.212)
               padding 15px 20px
               text-align center
               .div1_1
                   font-size 22px
                   color white
                   text-align left
                   .dname
                      font-size 14px
                      background-color #21427E
                      padding 5px 5px
                      margin 0px 15px
                      color white
                   .cname
                      font-size 14px
                      color #6597F5
               .div1_2
                   font-size 26px
                   color yellow
                   padding-top 0px


        .right-charts2
            position absolute
            right 30px
            top 0px
            width 400px
            height 100%
            border 0px solid red
            font-size 14px
            color white
            flexbox()
            flex-direction(column)
            justify-content(space-around)
            .div1
               height 280px
               background-color #003466
               padding 20px 40px
               text-align left
               .div1_1
                   color white
                   flexbox()
                   flex-direction(row)
                   justify-content(space-between)
                   .div1_1_left
                      font-size 16px
                      background #0049F9
                      padding 5px 20px
                      border-radius 10px
                      .div1_1_bottom
                        padding-top 10px
                        font-size 14px
                        color #4e73c9
                   .div1_1_right

                        .atop
                            padding-top 10px
                            font-size 20px
                            color white
                            cursor pointer
                        .abottom
                            padding-top 10px
                            font-size 14px
                            color white
               .div1_2
                   font-size 16px
                   color yellow
                   padding-top 20px
                   flexbox()
                   flex-direction(row)
                   justify-content(space-between)
                   .div1_2_row
                         flexbox()
                         flex-direction(column)
                         justify-content(space-around)
                         .atop
                                padding-top 5px
                                font-size 20px
                                color white
                                width 150px
                         .abottom
                                padding-top 10px
                                font-size 14px
                                color #6597F5
                                width 150px
