/**
 * @file h5
 * @author zlc <lichao9182@126.com>
 */
 
.home
    background #fff
.baoxiu
    width 600px
    height 100%
    background #f5faff
    border-bottom 1px solid #e1e7ee
    .wh_cekuang
        //background #fff
        height 100%
        width 100%
        z-index 1001
        border-bottom 3px solid #e1e7ee
        .wh_ck_head
            width 100%
            height 40px
            line-height 40px
            background #fff
            //border-bottom 1px solid #d0d0d0
            top 0
            left 0
            .wh_ck_title
                float left
                width 100%
                //line-height px2rem(80)
                color #000
                text-align center
                font-size 23px

            .panel-exit
                 height 50px
                 position relative
                 span
                   width 50px
                   height 50px
                   right 0px
                   position absolute
                   background url('./img/exit.png') no-repeat center center
                   cursor pointer
                   &:hover
                       transform rotate(30deg)
        .wh_ck_bzcont
            margin 0 auto
            margin-left 31px
            margin-bottom 20px
            width 552px
            overflow hidden
            background #f5faff
            form
                width 100%
                overflow hidden
                .wh_ck_bzcont1
                    width 100%
                    overflow hidden
                    margin-top 15px
                    span
                        width 76px
                        height 32px
                        font-size 16px
                        color #949393
                        float left
                        line-height 32px
                    select
                        font-size 16px
                        width  200px
                        height 32px
                        background #fff
                        border-radius px2rem(5)
                        margin-left 39px
                        border none
                        padding 5px
                        background-image url("../img/xiala.png")
                        background-repeat no-repeat
                        background-position top 5px right 3px
                    img
                        margin-left -20px
                .wh_ck_bzcont2
                    width 100%
                    overflow hidden
                    margin-top 15px
                    span
                        width 76px
                        height 32px
                        font-size 16px
                        color #949393
                        float left
                        line-height 32px
                    .jinji
                        width 400px
                        height 20px
                        background #f5faff
                        float left
                        .field1
                            float left
                            width 100px
                            margin-left 39px
                            margin-top px2rem(-4)
                            .checkbox
                                width 50px
                                label
                                    font-size 16px
                                    color #949393
                                    width 100px
                        .field2
                            float left
                            width 100px
                            margin-top px2rem(-4)
                            .checkbox
                                width 50px
                                label
                                    font-size 16px
                                    color #000
                                    width 100px
                .wh_ck_bzcont3
                    width 100%
                    overflow hidden
                    margin-top 15px
                    span
                        width 76px
                        overflow hidden
                        font-size 16px
                        color #949393
                        float left
                        line-height 32px
                    .bxr_con
                        width 200px
                        height 32px
                        background #f5faff
                        line-height 32px
                        float left
                        input
                            width 200px
                            height 32px
                            line-height 32px
                            background #fff
                            margin-left 39px
                            font-size 16px
                            color #000
                            border none
                .wh_ck_bzcont4
                    width 100%
                    overflow hidden
                    margin-top 15px
                    span
                        width 76px
                        height 32px
                        font-size 16px
                        color #949393
                        float left
                        line-height 32px
                    .lxfs_con
                        width 200px
                        height 20px
                        background #f5faff
                        float left
                        input
                            width 200px
                            height 32px
                            line-height 32px
                            background #fff
                            margin-left 39px
                            font-size 16px
                            color #000
                            border none
                .wh_ck_bzcont5
                    width 100%
                    overflow hidden
                    margin-top 15px
                    span
                        width 76px
                        height 32px
                        font-size 16px
                        color #949393
                        float left
                        line-height 32px
                    .wtms_con
                        width 400px
                        overflow hidden
                        background #f5faff
                        float left
                        margin-left 39px
                        textarea
                            width 400px
                            height 60px
                            background #fff
                            font-size 16px
                            line-height 20px
                            color #000
                            resize none
                            border 0
                            outline none
                .paizhao
                    width 100%
                    height 375px
                    overflow auto
                    margin-top 5px
                    background #f5faff
                    li
                        margin-top 5px
                        margin-left 5px
                        margin-bottom 5px
                        float left
                        //width px2rem(206)
                        //height px2rem(117)
                        width 150px
                        height 100px
                        img
                            width 150px
                            height 100px
                    .telphoto
                        width 150px
                        height 100px
                        //margin-top px2rem(30)
                        //margin-left 0.4rem
                        position relative
                        display inline-block
                        background #D0EEFF
                        border 1px solid #99D3F5
                        border-radius 4px
                        overflow hidden
                        color #1E88C7
                        text-decoration none
                        text-indent 0
                        line-height 20px
                        input
                            position absolute
                            font-size 100px
                            right 0
                            top 0
                            opacity 0
                        .photoBar
                            width 40%
                            height 40%
                            margin-left 30%
                            margin-top 20%
        .wh_foot
            width 100%
            height 55px
            .wh_foot_lf
                width 50%
                height 55px
                line-height  55px
                color #000
                background #fff
                font-size  20px
                text-align center
                //margin-top 18px
                float left
                cursor pointer
            .wh_foot_rg
                width 50%
                height 55px
                line-height  55px
                background  #1E88C7
                font-size  20px
                color #fff
                text-align center
                //margin-top 18px
                float left
                cursor pointer
        .load
            width 100%
            height 100%
            position fixed
            top 0%
            left 0%
            z-index 10
            -moz-opacity  0.5
            opacity  0.5
            background #000
            display none
            img
                width 50%
                height 30%
                position absolute
                top 26%
                left 21%
