/**
 * @file h5
 * @author luwenlong <zuiwosuifeng@gmail.com>
 */
 
.home
    background #f5faff
.baoxiuxq
    width 100%
    height 100%
    background #f5faff
    .whxq_head
        width 100%
        height 40px
        background #fff
        line-height 40px
        top 0
        left 0
        .whxq_title
            float left
            width 100%
            color #000
            text-align center
            font-size 23px
        .panel-exit
                 height 50px
                 position relative
                 span
                   width 50px
                   height 50px
                   right 0px
                   position absolute
                   background url('./img/exit.png') no-repeat center center
                   cursor pointer
                   &:hover
                       transform rotate(30deg)
    .whxq_content
        margin 0 auto
        margin-top 33px
        margin-left 31px
        margin-bottom px2rem(120)
        width 552px
        overflow hidden
        background #f5faff
        .whxq_list
            width 100%
            height 100%
            background #f5faff
            .whxq_list_div
                width 100%
                margin 0 auto
                height 100%
                margin-bottom  px2rem(30)
                background #f5faff
                .whxq_list_ul
                    width 94%
                    margin 0 auto
                    //height 100%
                    overflow hidden
                    .whxq_list_ul_li1
                        float left
                        width 100%
                        height 20px
                        line-height 20px
                        font-size 16px
                        text-align center
                    .whxq_list_ul_li2
                        float left
                        width 72px
                        height 26px
                        margin-top 33px
                        line-height 26px
                        font-size 16px
                        color red
                        text-align center
                        border 1px solid red
                        border-radius 4px
                        margin-right 30px
                    .whxq_list_ul_li3
                        float left
                        width 72px
                        height 26px
                        margin-top 33px
                        line-height 26px
                        font-size 16px
                        color #feba56
                        text-align center
                        border 1px solid #feba56
                        border-radius 4px
                        margin-right 30px
                    .whxq_list_ul_li4
                        float left
                        width 300px
                        height 20px
                        margin-top 33px
                        line-height 20px
                        font-size 16px
                        color #949393
                        span
                            width 20%
                            color #7f7e7e
                            font-size 16px
                            
                        em
                            width 65%
                            font-size 16px
                            float right
                            color #000
                .whxq_list_bxsj
                    width 94%
                    margin 0 auto
                    height px2rem(40)
                    line-height px2rem(40)
                    font-size px2rem(20)
                    color #949393
                    padding-top px2rem(20)

                .whxq_list_cont
                    width 94%
                    margin 0 auto
                    overflow hidden
                    background #f5faff
                    margin-top px2rem(30)
                    padding-bottom px2rem(10)
                    
                    .whxq_list_cont_div
                        margin-top 15px
                        width 100%
                        height px2rem(60)
                        line-height px2rem(60)
                        //padding-left px2rem(5)
                        span
                            width 20%
                            color #7f7e7e
                            font-size 16px
                            
                        em
                            width 80%
                            font-size 16px
                            float right
                            //text-align  left
                .whxq_list_img
                    width 94%
                    height 425px
                    margin 0 auto
                    margin-top 5px
                    margin-left 10px
                    overflow auto
                    img
                        float left
                        width 150px
                        height 130px
                        padding-right 5px
                        padding-top 5px
                        //margin-bottom px2rem(20)
        .whxq_list_img_big
            width 100%
            //height 100%
            position absolute
            top 0
            left 0
            z-index -1
            padding-top 35%
            padding-left 3%
            background url("./img/mengban.png")
            li
                width 100%
                height 100%
                display none
                z-index -1
                img
                    width px2rem(700)
                    height px2rem(400)
    .wxlqrw
        overflow hidden
        width 100%
        height 55px
        line-height 55px
        background #64a3fb
        text-align center
        font-size 24px
        text-align center
        color #fff
        cursor pointer

    .load
        width 100%
        height 100%
        position fixed
        top 0%
        left 0%
        z-index 10
        -moz-opacity  0.5
        opacity  0.5
        background #000
        display none
        img
            width 50%
            height 30%
            position absolute
            top 26%
            left 21%

    .Tuichu
        width 100%
        height 100%
        overflow hidden
        background-color  #000
        background rgba(0, 0, 0, 0.5)
        position fixed
        top 0
        left 0
        z-index 5
        display none
        .tuichutk
            width  420px
            height 165px
            background-color #fff
            border-radius 8px
            position fixed
            top 50%
            left 50%
            margin-top -87px
            margin-left -210px
            opacity 1
            .tccont
                width 361px
                overflow hidden
                min-height 100px
                font-size 24px
                padding-top 20px
                margin 0 auto
                text-align center
            .caozuo
                width 361px
                overflow hidden
                margin 0 auto
                .tcquxiao
                    font-size 20px
                    color #64a3fb
                    float right
                    margin-right 40px
                .tcqueren
                    font-size 20px
                    color #64a3fb
                    float right


