/**
 * @file h5
 * @author luwenlong <zuiwosuifeng@gmail.com>
 */
 
.home
    background #f5faff
.xunjian_1
    width 600px
    height 100%
    background #f5faff
    .xj_head
        width 100%
        height 40px
        line-height 40px
        background #fff
        top 0
        left 0
        .xj_title
            float left
            width 100%
            color #000
            text-align center
            font-size 23px
        .panel-exit
                 height 50px
                 position relative
                 span
                   width 50px
                   height 50px
                   right 0px
                   position absolute
                   background url('./img/exit.png') no-repeat center center
                   cursor pointer
                   &:hover
                       transform rotate(30deg)
         
    .xj_content
        width 100%
        overflow hidden
        background #f5faff
        .xj_content2
            width 100%
            height 600px
            overflow-y scroll
            margin-left 31px
            .canshu
                width 100%
                //overflow hidden
                border-top 1px solid #e6e6e6
                .banner
                    width 96%
                    height 55px
                    margin 0 auto
                    .banner_name
                        width 50%
                        line-height  55px
                        float left
                        font-size 20px
                    .banner_jt
                        float right
                        margin-top 15px
                        width px2rem(29)
                .count
                    width 100%
                    //overflow hidden
                    height 400px
                    .mingcheng
                        width 100%
                        height 40px
                        background #e4e4e4
                        li
                            color #636363
                            width 33.3%
                            line-height 40px
                            font-size 16px
                            float left
                            text-align center
                    .count_lists
                        width 100%
                        height 360px
                        overflow-x hidden
                        overflow-y scroll
                        background #f6f5f5
                        ul
                            height 28px
                            li
                                width 33.3%
                                height 25px
                                line-height 25px
                                float left
                                font-size 16px
                                text-align center
                                input
                                    border 0
                                    text-align center
                                    background #f6f5f5
                            li:nth-child(2)
                                color #7e7e7e

            .shebei
                //margin-top 30px
                width 100%
                //overflow hidden
                border-top 1px solid #e6e6e6
                //margin-top 200px
                .banner
                    width 96%
                    height 55px
                    margin 0 auto
                    .banner_name
                        width 50%
                        //height px2rem(110)
                        line-height  55px
                        float left
                        font-size 20px
                    .banner_jt
                        float right
                        margin-top 15px
                        width px2rem(29)
                        height px2rem(15)
                        transform rotate(-180deg);
                        -ms-transform rotate(-180deg); 	/* IE 9 */
                        -moz-transform rotate(-180deg); 	/* Firefox */
                        -webkit-transform rotate(-180deg); /* Safari 和 Chrome */
                        -o-transform rotate(-180deg); 	/* Opera */
                .count
                    width 100%
                    display none
                    //overflow hidden
                    height 300px
                    .mingcheng
                        width 100%
                        height 40px
                        background #e4e4e4
                        li
                            color #636363
                            width 18.5%
                            //height px2rem(74)
                            line-height 40px
                            font-size 16px
                            float left
                            text-align center
                        li:nth-child(1)
                            width 26%
                    .count_lists
                        width 100%
                        height 260px
                        overflow-x hidden
                        overflow-y scroll
                        background #f6f5f5
                        ul
                            width 100%
                            height 28px
                            li
                                width 18.5%
                                height 25px
                                line-height 25px
                                float left
                                font-size 16px
                                text-align center
                                input
                                    border 0
                                    text-align center
                                    background #f6f5f5
                                    width 100%
                            li:nth-child(2)
                                color #7e7e7e
                            li:nth-child(1)
                                width 26%

            .famen
                width 100%
                //overflow hidden
                border-top 1px solid #e6e6e6
                .banner
                    width 96%
                    height 55px
                    margin 0 auto
                    .banner_name
                        width 50%
                        //height 55px
                        line-height  55px
                        float left
                        font-size 20px
                    .banner_jt
                        float right
                        margin-top 15px
                        width px2rem(29)
                        height px2rem(15)
                        transform rotate(-180deg);
                        -ms-transform rotate(-180deg); 	/* IE 9 */
                        -moz-transform rotate(-180deg); 	/* Firefox */
                        -webkit-transform rotate(-180deg); /* Safari 和 Chrome */
                        -o-transform rotate(-180deg); 	/* Opera */
                .count
                    width 100%
                    //overflow hidden
                    display none
                    height 130px
                    .mingcheng
                        width 100%
                        height 40px
                        background #e4e4e4
                        li
                            color #636363
                            width 33.3%
                            //height px2rem(74)
                            line-height 40px
                            font-size 16px
                            float left
                            text-align center
                    .count_lists
                        width 100%
                        height 90px
                        overflow-x hidden
                        overflow-y scroll
                        background #f6f5f5
                        ul
                            width 100%
                            height 28px
                            li
                                width 33.3%
                                height 25px
                                line-height 25px
                                float left
                                font-size 16px
                                text-align center
                                input
                                    border 0
                                    text-align center
                                    background #f6f5f5
                            li:nth-child(2)
                                color #7e7e7e
            .qita
                width 100%
                overflow hidden
                border-top 1px solid #e6e6e6
                border-bottom 1px solid #e6e6e6

                .banner
                    width 96%
                    height 55px
                    margin 0 auto
                    .banner_name
                        width 50%
                        //height px2rem(110)
                        line-height  55px
                        float left
                        font-size 20px
                    .banner_jt
                        float right
                        margin-top 15px
                        width px2rem(29)
                        height px2rem(15)
                        transform rotate(-180deg);
                        -ms-transform rotate(-180deg); 	/* IE 9 */
                        -moz-transform rotate(-180deg); 	/* Firefox */
                        -webkit-transform rotate(-180deg); /* Safari 和 Chrome */
                        -o-transform rotate(-180deg); 	/* Opera */
                .count
                    width 100%
                    //overflow hidden
                    display none
                    height 300px
                    .mingcheng
                        width 100%
                        height 40px
                        background #e4e4e4
                        li
                            color #636363
                            width 50%
                            //height px2rem(74)
                            line-height 40px
                            font-size 16px
                            float left
                            text-align center
                    .count_lists
                        width 100%
                        height 300px
                        overflow-x hidden
                        overflow-y scroll
                        background #f6f5f5
                        ul
                            width 100%
                            height 28px
                            li
                                width 50%
                                height 25px
                                line-height 25px
                                float left
                                font-size 16px
                                text-align center
                                input
                                    border 0
                                    text-align center
                                    background #f6f5f5
                            li:nth-child(2)
                                color #7e7e7e
        .wh_foot
            width 100%
            height 76px
            .wh_foot_lf
                width 50%
                height 76px
                line-height  76px
                color #a4a3a3
                background #D0EEFF
                font-size  30px
                text-align center
                float left
            .wh_foot_rg
                width 50%
                height 76px
                line-height  76px
                background  #f2a244
                font-size  30px
                color #fff
                text-align center
                float left
        .load
            width 100%
            height 100%
            position fixed
            top 0%
            left 0%
            z-index 10
            -moz-opacity  0.5
            opacity  0.5
            background #000
            display none
            img
                width 50%
                height 30%
                position absolute
                top 26%
                left 21%
