/**
 *@file monitem
 * @author zlc <lichao9182@126.com>
 */
//$-font-size = 46.875
//px1px($px)
//    $px / $-font-size * 1rem
px1px($px)
  ($px / 1) * 1px
.home
    background #ffffff
     
.gonggao_list
    width 100%
    height  100% 
    font-size 16px
    overflow hidden
    position relative
    .load
        width 100%
        height 100%
        position fixed
        top 0%
        left 0%
        z-index 10
        -moz-opacity  0.5
        opacity  0.5
        background #000
        display none
        img
            width 40%
            height 30%
            position absolute
            top 26%
            left 30%
    .bigimg
        width 100%
        height 100%
        position fixed
        top 0%
        left 0%
        z-index 10
        //-moz-opacity  0.5
        //opacity  0.5
        background #000
        display none
        img
            width 40%
            height auto
            position absolute
            //text-align: center
            top 2%
            left 30%
    .gonggao_list_head
        width 100%
        background #ffffff
        height 50px
        line-height 50px
        position absolute
        top 0
        left 0
        z-index 5
        .gonggao_list_title
            padding-left 30px
            float left
            width 80%
            font-size 20px
    .gonggao_list_content
        width 102%
        height 545px
        background  #edf1f5
        overflow-y  auto
        overflow-x hidden
        #kong
            width 100%
            height px1px(86)
            display none
        .gonggao_list_cons
            width 100%
            overflow hidden
            .gonggao_list_cons_ul
              width 95%
              margin px1px(30) auto
              overflow hidden
              .gonggao_list_cons_ul_li1
                  width 100%
                  height px1px(30)
                  line-height px1px(30)
                  text-align center
                  span
                    height px1px(30)
                    line-height px1px(30)
                    text-align center
                    margin 0 auto
                    color #d5d5d5
                    font-size px1px(12)
                    padding-left px1px(20)
                    padding-right px1px(20)
                    /*background #d5d5d5*/
                    border-radius px1px(5)
              .gonggao_list_cons_ul_li1_1
                  font-size px1px(30)
                  color #949393
                  //margin-bottom px1px(20)
              .gonggao_list_cons_ul_li1_0_right
                width 34px
                height 34px
                float right
                margin-left px1px(10)
                margin-bottom px1px(10)
                .touxiang_img
                  width 34px
                  height 34px
                  border-radius 50%
                  margin-top 0.2rem
              .gonggao_list_cons_ul_li1_1_right
                text-align right
                font-size px1px(20)
                color #949393
                margin-bottom px1px(10)
                margin-right 1rem
              .gonggao_list_cons_ul_li2_right
                float right
                padding-left px1px(20)
                padding-right px1px(20)
                background #ffffff
                border-radius px1px(10)
                overflow hidden
                max-width 770px
                margin-right 0.2rem
                .gonggao_list_cons_ul_li2_1
                    margin 0 auto
                    height 30px
                    line-height  30px
                    font-size px1px(33)
                    span
                      float left
                      font-size 16px
                      color #64a3fb
                    img
                      width 10%
                      float right
                      margin-right -0.4rem
                    .rw_img
                      float right
                .gonggao_list_cons_ul_li2_2
                  line-height 25px
                  margin 0 auto
                  overflow hidden
                  font-size 16px
                  img
                    width px1px(100)
                    height px1px(125)
                    text-align right
                    float right
                  .big_img
                    margin-left 25%
                    width 50%
                    height 50%
                .gonggao_list_cons_ul_li2_3
                  line-height px1px(55)
                  width 90%
                  margin 0 auto
                  overflow hidden
                  font-size px1px(16)
                  text-align center
                  height px1px(55)
                  border-top 1px solid #b5b5b5
                  color #6b6b6b
                  margin-top 20px
                .maintainid
                  display none
                .gonggao_list_cons_ul_li2_4
                  line-height 40px
                  width 90%
                  margin 0 auto
                  overflow hidden
                  font-size 16px
                  text-align center
                  height 40px
                  color #fff
                  background #64a3fb
                  border-radius px1px(10)
                  margin-bottom px1px(20)
              .gonggao_list_cons_ul_li1_0_left
                width 34px
                height 34px
                float left
                margin-right px1px(10)
                margin-bottom px1px(10)
                .touxiang_img
                  width 34px
                  height 34px
                  border-radius 50%
                  margin-top 0.2rem
              .gonggao_list_cons_ul_li1_1_left
                text-align left
                font-size px1px(20)
                color #949393
                margin-bottom px1px(10)
                margin-left 1rem
              .gonggao_list_cons_ul_li2_left
                float left
                padding-left px1px(20)
                padding-right px1px(20)
                background #fff
                border-radius px1px(10)
                overflow hidden
                max-width 770px
                margin-left 0.2rem
                position relative
                .gonggao_list_cons_ul_li2_1

                  margin 0 auto
                  height  30px
                  line-height 30px
                  font-size px1px(33)
                  span
                    float left
                    font-size 16px
                    color #64a3fb
                  img
                    width 10%
                    float right
                    margin-right -0.4rem
                  .rw_img
                    float right
                .gonggao_list_cons_ul_li2_2
                  line-height 25px
                  margin 0 auto
                  overflow hidden
                  font-size 16px
                  img
                    width px1px(200)
                    height px1px(250)
                    text-align right
                    float right
                  .big_img
                    margin-left 25%
                    width 50%
                    height 50%
                .gonggao_list_cons_ul_li2_3
                  line-height px1px(68)
                  width 90%
                  margin 0 auto
                  overflow hidden
                  font-size px1px(20)
                  text-align center
                  height px1px(68)
                  border-top 1px solid #b5b5b5
                  color #6b6b6b
                  margin-top px1px(10)
                .maintainid
                    display none
                .gonggao_list_cons_ul_li2_4
                  line-height 40px
                  width 90%
                  margin 0 auto
                  overflow hidden
                  font-size 16px
                  text-align center
                  height 40px
                  color #fff
                  background #64a3fb
                  border-radius px1px(10)
                  margin-bottom px1px(20)
                .zhuxiao
                  font-size px1px(30)
                  color red
                  padding px1px(10)
                  border 1px solid red
                  border-radius px1px(5)
                  position absolute
                  top 0
                  left 20%
                  display none
                  transform rotate(7deg)
                  -ms-transform rotate(7deg)  /* IE 9 */
                  -moz-transform rotate(7deg) /* Firefox */
                  -webkit-transform rotate(7deg) /* Safari 和 Chrome */
                  -o-transform rotate(7deg)   /* Opera */
              .gonggao_list_cons_ul_li2_rw
                width 20%
        .panel-model
           width 600px
           height 800px
           position absolute
           right 1px
           top 0px
           z-index 6  
    .gonggao_list_sc
      width 100%
      overflow hidden
      background #ffffff
      left 0
      bottom 0
      .gonggao_list_top
        width 100%
        height  60px
        .gonggao_list_bottom_paizhao
          margin-top 14px
          width 30px
          float left
          margin-left  38px
          img
            display block
          dd
            font-size 0.4rem
            color #949393
            text-align center
        .gonggao_list_bottom_renwu1
          width 30px
          float left
          margin-top 10px
          margin-left  30px
          img
            display block
        .gonggao_list_bottom_renwu2
          width 30px
          float left
          margin-top 13px
          margin-left  20px
          img
            display block

    .gonggao_list_bottom
        background #ffffff
        height 159px
        width 100%
        .gonggao_list_sc_input
          float left
          width 100%
          height 100%
          border 0
          font-size 14px
          padding-left 38px
          outline none
          resize  none

    .twhxq_content
      width 100%
      height 100%
      background url("./img/mengban.png")
      position fixed
      top 0
      left 0
      display none
      z-index 6
      .twhxq_con
        width 100%
        overflow hidden
        .twhxq_title
          width 100%
          height px1px(50)
          line-height px1px(50)
          font-size px1px(30)
          float right
          color #fff
          text-align right
          padding-right px1px(30)
          margin-top px1px(20)
          margin-bottom px1px(20)

        .twhxq_list
          width 90%
          height 80%
          background #f1f4f7
          margin 0 auto
          overflow hidden
          border-radius px1px(30)
          position relative
          .twhxq_list_div
            width 100%
            margin 0 auto
            height 100%
            margin-bottom  px1px(30)
            background #fff
            .twhxq_list_ul
              width 94%
              margin 0 auto
              height px1px(60)
              padding-top px1px(25)
              .twhxq_list_ul_li1
                float left
                width 30%
                font-size px1px(40)
              .twhxq_list_ul_li2
                float left
                width px1px(74)
                height px1px(30)
                line-height px1px(30)
                font-size px1px(20)
                color red
                text-align center
                border 1px solid red
                border-radius px1px(4)
                margin-right px1px(30)
              .twhxq_list_ul_li3
                float left
                width px1px(84)
                height px1px(30)
                line-height px1px(30)
                font-size px1px(20)
                color #feba56
                text-align center
                border 1px solid #feba56
                border-radius px1px(4)
            .twhxq_list_bxsj
              width 94%
              margin 0 auto
              height px1px(40)
              line-height px1px(40)
              font-size px1px(20)
              color #949393
              padding-top px1px(20)

            .twhxq_list_cont
              width 94%
              margin 0 auto
              overflow hidden
              background #f9f9fa
              margin-top px1px(30)
              padding-bottom px1px(10)
              .twhxq_list_cont_div
                width 100%
                height px1px(60)
                line-height px1px(60)
                padding-left px1px(5)
                span
                  color #7f7e7e
                  font-size px1px(22)
                em
                  font-size px1px(22)
            .twhxq_list_img
              width 94%
              margin 0 auto
              margin-top px1px(88)
              height 10rem
              overflow auto
              img
                width px1px(440)
                height px1px(240)
                margin px1px(20) auto
                display block
            .lqrw
              width 100%
              height px1px(90)
              line-height px1px(90)
              background #f2a244
              color #fff
              text-align center
              position absolute
              bottom 0
              left 0
              font-size px1px(30)
      .gb
          width 100%
          text-align center
          margin-top px1px(20)