.table-baoxiu
   .weixiu-table
      .xinzeng-btn.xinzeng-btn2
         margin-top: 25px
         span
           width auto
           padding 0 10px
           margin-right: 20px
   .modal-alert.modal-timemodel.modal-jihua
     width 60%
     .content
       max-height: 100%
   .modal-jihua
     .item_lists
       padding: 10px 0
       line-height: 1.5
     .div_w_4.div_w_label
       width: 20%
       margin-right: 15px
       text-align: right;
     .div_w_4
       float: left
       width: 25%
       text-align: left
     .div_w_4_3
       float left
       width: 75%
       text-align: left;
   .modal-alert.modal-timemodel.modal-jihua.modal-jihua-bg
     background-color: #349aef
     color #f6f6f6
     .content
       margin-bottom 30px
     .content_title
       text-align: center;
       color #f6f6f6
       padding-bottom 10px
       font-size 20px
     .content_tips
       padding: 20px
       color #f6f6f6
       text-align: left
       font-size: 14px
     .content_search
       text-align left
       margin-bottom 20px
       .commitBtn
         padding: 6px 15px
         background-color: #3c75c2
         vertical-align: middle
         &:hover
           background-color: #1e4386
