.mywrap
  padding-bottom px2rem(120)
  background: #f6f6f6
  .itemList
    background #ffffff
    margin-top px2rem(30)
    .item
      border-bottom 1px solid #f0f0f0
      clearfix()
      .title
        float left
        line-height: px2rem(78)
        padding-left 10px
        font-size px2rem(28)
        color #848689
      .con
        float left
        padding-left px2rem(50)
        line-height: px2rem(78)
        font-size px2rem(28)
        color #1a1a1a
      .title2
        float: right;
        margin-right px2rem(30)
        height: px2rem(78)
        line-height: px2rem(78)
        color: #848680
        position: relative;
        &:after
          content:"";
          width: px2rem(25)
          height: px2rem(25)
          border-right:2px solid #c7c7cc;
          border-top:2px solid #c7c7cc;
          display:inline-block;
          vertical-align: middle;
          transform:translate(-50%,-50%) rotate(45deg);
          position:absolute;right:0;top:50%;margin-left: 2px;
          box-sizing:border-box;
  .btn
    margin-top px2rem(50)
    line-height px2rem(78)
    background #fff
    text-align center
    font-size px2rem(30)
    color #1a1a1a