/**
 * @file monlist
 * @author zlc <lichao9182@126.com>
 */
 .charts-menu-2
     min-height 700px
     height auto!important
     background #1e202f /*#0f1d52*/
     border-right 0px solid #264b91  
     width 9.3%
     .charts-menu-head
        /*height 3%*/
        padding-top 34px
        width 100%
     .charts-menu-list
         width 100%
         display block
         font-size 14px
         margin-top 20px
         .charts-menu-item
             color #9e9eab /*#7193ef*/
             width 100%
             height 45px
             &:hover
                 color #61608b /*#ffffff*/
                 cursor pointer
             &.active
                 color #ffffff
                 cursor pointer
                 /*background  #264591*/
             span
                 line-height 45px
                 margin-left 20%
                 display block
                 dd
                     display none
                     float right
                     margin-right 20px
                     color #9e9eab /*#3a7af1*/
                     &.active
                        display block
          .charts-menu-item-child
              background #1e202f /*#0f1d52*/
              display none
              &.active
                  display block
              div
                  color #9e9eab /*#7598f7*/
                  height 45px
                  &.active
                      /*background  #264591*/
                      color #fff
                      cursor pointer
                  &:hover                
                      color #61608b /*#ffffff*/
                      cursor pointer

              span
                  line-height 45px
                  margin-left 30%
                  text-align left
                  display block
