.fix:after
    content: ""
    display: block
    height: 0
    clear: both
    visibility: hidden
.fix
    *zoom: 1;
.table-xiaoxi
  overflow-x hidden
  overflow-y auto
  .weixiu-title
    height 50px
    width 90%
    flexbox()
    margin 0 30px 0 20px
    justify-content(space-between)
    align-items(center)
    font-size 20px
    color #a3cff6 !important /*gray: #859db4  blue: #d7eafb; */
    text-indent 10px
  .weixiu-table
    width 96%
    margin-left: 2%
    color #dfdfdf
    font-size 16px
    .news_list
      padding 10px 0
      .news_item
        border-bottom 1px dashed #fff
        padding 15px 0
        line-height: 2
        .item1
          float left
          width 12%
          margin-right: 25px
          margin-top 15px
          text-align: right
          i
            display: inline-block
            width 40px
            height 40px
            background: url(img/u29698.png) no-repeat
            background-size 100%
          i.bx
            background: url(img/u29585.png) no-repeat
            background-size 100%
          i.xj
            background: url(img/u29555.png) no-repeat
            background-size 100%
        .item2
          cursor pointer
          float left
          width 50%
          margin-right: 8%
          .item_top
            span
              display: inline-block
              width 33%
        .item3
          float left
          width 20%
          p
            line-height: 2
          p:first-child
            font-size: 20px
            color #3a9ae6
            font-weight: 600
            min-height 34px
