/**
 * @file 用户管理
 * @author luwenlong <zuiwosuifeng@gmail.com>
 */

$base = #3a9ae6;

.ui.input.focus input,
.ui.input input:focus
    border-color $base

.sp-wrap
    padding 40px
    position relative
    h3
        color $base
        font-size 24px
.sp-item
    margin-bottom 20px
    h4
        color #333
        font-size 14px
        margin-bottom 10px
    input
        width 420px
        height 40px
        line-height 40px
        border 1px solid #f2f4f6
        text-indent 10px
.sp-btn
    width 420px
    height 42px
    line-height 42px
    text-align center
    font-size 14px
    background #254394
    color #fff
    margin-top 40px
    cursor pointer
    &:hover
        background #7ac6ff

.sp-ext
    position absolute
    right 20px
    top 20px
    cursor pointer
    background url('./img/exit.png') no-repeat center center
    width 32px
    height 30px
