
.homewrap
  
  padding-left px2rem(20)
  padding-right px2rem(20)
  // padding-bottom px2rem(120)
  background: #fff
  .item
    clearfix()
    margin-top px2rem(62)
    .item-left
      float left
      width px2rem(230)
      height px2rem(220)
      background url('./img/h-6551.png') no-repeat
      background-size 100% 100%
      box-shadow 0px px2rem(5) px2rem(12) px2rem(3) rgba(101,116,251,0.35)
      border-radius px2rem(8)
      position: relative
      .biaoti
        float: left
        margin-top px2rem(20)
        margin-left px2rem(20)
        font-size: px2rem(30)
        font-weight: bold
    .item-right
      float left
      width px2rem(480)
      box-sizing: border-box
      padding-left px2rem(15)
      .right-item
        float: left
        width: px2rem(225)
        height: px2rem(100)
        margin-bottom px2rem(19)
        border-radius: 4px
        background-color: #f7f7f7
        color: #1a1a1a
        font-size: px2rem(28)
        .icons
          float: left
          width: px2rem(38)
          height px2rem(38)
          margin-top px2rem(31)
          margin-left px2rem(60)
          margin-right px2rem(30)
        span
          float: left
          height: px2rem(100)
          line-height: px2rem(100)
        .icon1
          background url('./img/icon1.png') center center no-repeat
          background-size 100% 100%
        .icon2
          background url('./img/icon2.png') center center no-repeat
          background-size 100% 100%
        .icon3
          background url('./img/icon3.png') center center no-repeat
          background-size 100% 100%
        .icon4
          background url('./img/icon4.png') center center no-repeat
          background-size 100% 100%
        .icon5
          background url('./img/icon5.png') center center no-repeat
          background-size 100% 100%
        .icon6
          background url('./img/icon6.png') center center no-repeat
          background-size 100% 100%
        .icon7
          background url('./img/icon7.png') center center no-repeat
          background-size 100% 100%
        .icon8
          background url('./img/icon8.png') center center no-repeat
          background-size 100% 100%
        .icon9
          background url('./img/icon9.png') center center no-repeat
          background-size 100% 100%
        .icon10
          background url('./img/icon10.png') center center no-repeat
          background-size 100% 100%
        .icon11
          background url('./img/icon11.png') center center no-repeat
          background-size 100% 100%
        .icon12
          background url('./img/icon12.png') center center no-repeat
          background-size 100% 100%
      .right-item:nth-child(even)
        margin-left: px2rem(14)
    .shebei
      height px2rem(340)
      background-color: #5c53f0
      background url('./img/h-6552.png') no-repeat
      background-size 100% 100%
    .fenxi
      height px2rem(120)
      background-color: #3fabfc
      background url('./img/h-6553.png') no-repeat
      background-size 100% 100%
    .jiaoshi
      height px2rem(120)
      background-color: #4f81fb
      background url('./img/h-6554.png') no-repeat
      background-size 100% 100%
  .item:first-child
    margin-top px2rem(47)
  .item:last-child
    margin-bottom px2rem(47)
