/**
 * @file 通用头部样式
 * @author zlc <lichao9182@126.com>
 */

$base = #4e73c9;
$normal = #3a9ae6;
textColor = #2c8cf9;
$-font-size = 46.875
// clearfix
// @see http://h5bp.com/q

clearfix()
    &:after,
    &:before
        content: ' '
        display: table
    &:after
        clear: both
px2rem($px)
   $px / $-font-size * 1rem

.home-head
  width: 100%
  position: fixed;
  top 0
  height: px2rem(76)
  background-color: #fff
  color #1a1a1a
  font-size: px2rem(34)
  z-index: 10
  clearfix()
  .head_iconleft
    float: left
    width: px2rem(20)
    height: 100%
    margin-left: px2rem(13)
    position: relative;
    visibility hidden
    &:after
      content:"";
      width:px2rem(25);
      height:px2rem(25);
      border-left:2px solid #000;
      border-bottom:2px solid #000;
      display:inline-block;
      vertical-align: middle;
      transform:translate(-50%,-50%) rotate(45deg);
      position:absolute;left:50%;top:50%;margin-left: 2px;
      box-sizing:border-box;
  .head_iconleft.head_iconleft_show
    visibility visible 
  .head_title
    float: left
    width px2rem(600)
    text-align: center
    margin-left: px2rem(60)
    line-height: px2rem(76)