/**
 * @file 设备库
 * @author luwenlong <zuiwosuifeng@gmail.com>
 */
 @require '../view'


.gfyshebeiguanli
    position relative
    min-height 800px
    width 100%
    .gfyshebeiguanli-body
        margin auto
        width 90%
        height 80%
        overflow-y auto
