.baoyangxxwrap
  background: #f6f6f6
  width: 100%
  // position: absolute;
  // top: 0
  // bottom px2rem(90)
  // overflow-y: auto;
  .item1
    margin-top px2rem(30)
    background-color: #fff
    .iitem1
      padding px2rem(30) 0
      margin 0 px2rem(20)
      border-bottom 1px solid #f0f0f0
      clearfix()
      .title1
        float: left
        font-size px2rem(28)
        color #848689
      .con1
        float: right
        font-size px2rem(29)
        color #000
      .con1-icon
        position: relative;
        padding-right: px2rem(42)
        &:after
          content:"";
          width: px2rem(25)
          height: px2rem(25)
          border-right:2px solid #c7c7cc;
          border-top:2px solid #c7c7cc;
          display:inline-block;
          vertical-align: middle;
          transform:translate(-50%,-50%) rotate(45deg);
          position:absolute;right:0;top:50%;margin-left: 2px;
          box-sizing:border-box;
    .iitem1:last-child
      border-bottom none
    .iitem2
      padding px2rem(30) 0
      margin 0 px2rem(20)
      .title1
        font-size px2rem(28)
        color #848689
      .con1
        font-size px2rem(29)
        color #000
        margin-top 20px
        .con1-item
          border-bottom 1px solid #f0f0f0
          line-height: px2rem(88)
          clearfix()
          span:last-child
            float right
.baoyangxx-btn
  position: fixed;
  width: 100%
  height: px2rem(87)
  line-height: px2rem(87)
  text-align: center
  bottom: 0
  font-size: px2rem(36)
  color #fff
  background-color #64a3fb
