.tab-xunjian>.query-condition
     border-bottom none
.tab-xunjian>.weixiu-table
     margin 10px
.tab-xunjian
   .query-condition
     border-bottom none
   .xunjian_tips
     margin-left: 2%
     color #fff
     font-size: 14px
