/**
 * @file monitem
 * @author zlc <lichao9182@126.com>
 */
.fix:after
    content: ""
    display: block
    height: 0
    clear: both
    visibility: hidden
.fix
    *zoom: 1;
.tab-xunjian
  width 100%
  background-size 100% 100%
  position: relative;
  overflow-y: auto;
  .timemodel
    margin-top 10px
  div
    font-size 16px
  .weixiu-title
        height 50px
        width 90%
        flexbox()
        margin 0 30px 0 20px
        justify-content(space-between)
        align-items(center)
        font-size 20px
        color #fff
        text-indent 10px
  .query-condition
    display flex
    margin-left 2%
    flex-align center
    align-items center
    flex-pack flex-start
    justify-content flex-start
    font-size 16px
    color #969696
    position relative
    margin-bottom 10px
    margin-top 10px
    padding-bottom 10px
    border-bottom 2px solid #7ac6ff
    label
        margin 0 10px
        color white
    .query-name
        font-size 16px
        margin-right 10px
        color white
    .query-value
        font-size 14px
        height 30px
        input
              border-radius 3px
        .ui.selection.dropdown
            min-height 30px
            padding-left 10px
            .dropdown.icon
                padding-right 5px
        .ui.dropdown
            color #fff
            background #3c75c2
            margin auto
            min-width  9em
            .default.text
                color #fff
            .ui.label
                color #fff
                background #0a448c
                font-weight normal
            .menu.visible
                color #fff
                background #3c75c2
                .item
                    color #fff
                    border-bottom 1px solid #5da6ea
                    &:hover
                        background #59a1e1
    .query-commit
        width 90px
        height 30px
        margin-left 10px
        line-height 30px
        text-align center
        background #254394
        color #fff
        border-radius 3px
        cursor pointer
        &:hover
            background #7ac6ff
        &.gray,
        &.gray:hover
            background #c6c6c6
    .query-btn
        width 90px
        height 30px
        line-height 30px
        text-align center
        background #254394
        color #fff
        border-radius 3px
        cursor pointer
        position absolute
        right 2%
        &:hover
            background #7ac6ff
        &.gray,
        &.gray:hover
            background #c6c6c6
    .dropdown
      min-width: 9em;
      min-height: 30px;
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0;
      .dropdown.icon
        width 20px
        right -38px
        top 7px
        margin 0
        padding 0
  .weixiu-table
    width 96%
    margin-left 2%
    .xinzeng-btn
      text-align: right
      margin-bottom: 10px
      span
        display: inline-block;
        cursor:pointer
        width: 90px
        height: 30px
        line-height: 30px
        text-align: center
        //background-color: #2a57ff
        border-radius: 3px
        color: #fff
      span:hover
        //background-color: #2c8cf9
  .xunjian_tips
    margin-left: 2%
    color #fff
    font-size: 14px
  .gongdan-modal
     position: absolute
     top 10px
     left: 0
     right 0
     bottom 0
     overflow: auto;
     padding 10px
     background: linear-gradient(#162467, #0562a1);
     .title
        text-align: right
        padding: 10px
        .btn
          cursor pointer
          display: inline-block;
          width: 70px
          margin 0 10px
          height: 25px
          line-height: 25px
          background-color: #2c8cf3
          color: #fff
          text-align: center
          border-radius: 5px
  .gongdan-modal.gongdan-chakan
    color #fff
    .chakan_container
      width: 90%
      margin: 0 auto
      .chakan_title
        padding: 10px 0
        >span
           display inline-block
           margin-top 6px
           font-size: 16px
         .title_bg
           font-size: 18px
           margin-right: 10px
           color #feffff
         .chakan_title_btns
           float right
           span
             cursor pointer
             display: inline-block;
             padding: 6px 15px
             background #2c8cf9
             border-radius: 4px
             margin-right: 20px
             font-size: 14px
             color #fff
      .chakan_item
        padding-top 16px
        padding-bottom 20px
        border-top: 1px solid #5085c6
        >span
          color #a3cff6
        .chakan_item_con
          margin-top 20px
          line-height: 1.6
          font-size: 14px
        .chakan_item_con1
          padding-right 15%
          .fujian
            margin-top: 20px
            span
              cursor pointer
        .chakan_item_con2
          padding-left 5%
  .modal-alert
     position: absolute;
     padding 10px
     width: 300px
     top 12%
     left: 50%
     transform translate(-50%,0)
     background-color: #fff
     border 1px solid #ccc
     border-radius: 5px
     box-shadow: 1px 2px 12px rgba(0,0,0,0.5)
     .title
       height: 30px
       line-height: 30px
       padding-left: 10px
     .content
       padding: 10px
       text-align: center
     .footer
       margin: 20px 0
       text-align: center;
       span
         cursor pointer
         display: inline-block;
         margin: 0 20px
         border: 1px solid #c6c6c6
         padding: 10px 15px
         border-radius: 5px
  .modal-alert.modal-guanlian
     width 60%
     .title
       height: auto;
       .spans
         float: right;
         text-align: right;
       .spans,.search
         span
           cursor pointer
           display: inline-block;
           margin: 0 10px
           padding: 0 15px
           border-radius: 5px
           background: #0a5fbb
           color #fff
           font-size: 14px
       .search
          padding: 10px
          input
            outline: none
            border 1px solid #dfdfdf
            padding 5px
            font-size: 14px
            border-radius: 3px
            margin-right: 10px
          span
            background: #dfdfdf
            font-size: 13px
            color #333
     .content
       font-size: 14px
       max-height 400px
       overflow: auto
       li
         padding: 10px 0
         border-top 1px solid #ccc
         span
           float left
           width 28%
           text-align: left
         .li_span1
           width 12%
           text-align: center
       li:last-child
         border-bottom 1px solid #ccc
  .modal-alert.modal-timemodel.modal-guanlian
     width 500px
     .title
        .spans
          .close_icon
            display: inline-block;
            width: 15px
            height: 15px
            margin-right 12px
            background: url(img/u9250.png) no-repeat
            background-size 100%
          &:hover
            .close_icon
              width: 16px
              height: 16px
     .content
        margin: 0 20px
        min-height: 300px
        .content_input
          text-align: left
          margin-bottom: 10px
          font-size: 14px
          label
            margin-right: 2%
          input
            display inlien-block
            width 60%
            outline: none
            border: 1px solid #ccc
            padding: 4px 5px
            border-radius 3px
        li
          &.timepicker
            line-height: 26px
          span
            width: 50%
            text-align: center
        .close_icon2
          display: inline-block;
          width: 10px
          height: 10px
          margin-left 4px
          background: url(img/u9571.png) no-repeat
          background-size 100%
          &:hover
            width 12px
            height: 12px
        .add_icon
          display: inline-block;
          width: 30px
          height: 30px
          margin 40px auto 0
          background: url(img/u9547.png) no-repeat
          background-size 100%
          &:hover
            width 31px
            height: 31px
     .footer
       .span_btn
         display: inline-block;
         width: 100px
         margin: auto;
         background-color: #2a57ff
         border-radius: 5px
         color: #fff
         text-align: center;
  .el-mytable
    .el-tbody
      li
        span
          i
            cursor pointer
            display: inline-block
            width: 70px
            text-align: center;
.pages
  margin-top: 50px
