.fix:after
  content: ""
  display: block
  height: 0
  clear: both
  visibility: hidden
.fix
  *zoom: 1;
.table-xunjian
  width 100%
  background-size 100% 100%
  position: relative;
  overflow-y: auto;
  div
    font-size 16px
  .weixiu-table
    width 96%
    margin-left 2%
