.table-baoxiu
  .timemodel
    margin-top: 30px
  .el-mytable
     .el-tbody
        li
           span
             i
               cursor pointer
               display: inline-block
               width: 70px
               text-align: center;
  .modal-alert.modal-timemodel.modal-guanlian
     width 500px
     .title
        .spans
          .close_icon
            display: inline-block;
            width: 15px
            height: 15px
            margin-right 12px
            background: url(img/u9250.png) no-repeat
            background-size 100%
          &:hover
            .close_icon
              width: 16px
              height: 16px
     .content
        margin: 0 20px
        min-height: 300px
        .content_input
          text-align: left
          margin-bottom: 10px
          font-size: 14px
          label
            margin-right: 2%
          input
            display inlien-block
            width 60%
            outline: none
            border: 1px solid #ccc
            padding: 4px 5px
            border-radius 3px
        li
          &.timepicker
            line-height: 26px
          span
            width: 50%
            text-align: center
        .close_icon2
          display: inline-block;
          width: 10px
          height: 10px
          margin-left 4px
          background: url(img/u9571.png) no-repeat
          background-size 100%
          &:hover
            width 12px
            height: 12px
        .add_icon
          display: inline-block;
          width: 30px
          height: 30px
          margin 40px auto 0
          background: url(img/u9547.png) no-repeat
          background-size 100%
          &:hover
            width 31px
            height: 31px
     .footer
       .span_btn
         display: inline-block;
         width: 100px
         margin: auto;
         background-color: #2a57ff
         border-radius: 5px
         color: #fff
         text-align: center;
