/**
 * @file monitem
 * @author zlc <lichao9182@126.com>
 */

.monitor
    //width 90.7%
    width 100%
    background-size 100% 100%
    flexbox()
    .monitor-left
        width 80%
        .top-charts
            padding 10px 30px 10px 20px
            font-size 14px
            color #fff
            position relative
            .funMenus
                width 90%
                flexbox()
                align-items(center)
                flex-wrap(wrap)
                overflow hidden
                height 40px
                &.active
                    overflow auto
                    height auto
                .funMenuItem
                    width: 22%;
                    height: 30px;
                    margin-bottom 10px
                    margin-right 20px

                    border-width: 1px;
                    border-color: rgb(80, 133, 198);
                    border-style: solid;
                    border-radius: 4px;
                    text-align center
                    line-height 30px;
                    color #a3cff6
                    &:hover
                        cursor pointer
                        color #fff
                    &.active
                        background #5085c6
             .query-btn
                 width 60px
                 height 30px
                 font-size 14px
                 line-height 30px
                 text-align center
                 background #2c8cf9
                 color #fff
                 border-radius 3px
                 cursor pointer
                 position absolute
                 right 10px
                 &.active
                     display none
                 &:hover
                     background #2a57ff
                 &.gray,
                 &.gray:hover
                     background #c6c6c6
        .right-svg
            padding-top 5%
            flexbox()
            justify-content(space-between)
            .svg-panel
              width 90%
              padding 10px 0px 0px 40px
    .monitor-right
        margin 10px 10px 10px 20px
        width 20%
        background rgba(79,118,201,0.2)
        .renwu-title
            color #a3cff6
            font-size 14px
            margin 10px auto 20px 20px
        .renwu-body
            height auto
            .renwu-item
                width 100%
                height auto
                margin-bottom 20px
                flexbox()
                .renwu-icon
                    width 36px
                    line-height 36px
                    margin auto auto auto 20px
                    color white
                    font-size 14px
                    background url('./img/xiaoxi-icon.png') no-repeat
                    background-size 36px,36px
                    text-align center

                .renwu-text
                    width 75%
                    .renwu-text-time-name
                        color #70b2ed
                        font-size 12px
                        height 20px
                        line-height 20px
                        margin-bottom 10px
                        flexbox()
                        justify-content(space-between)
                        .renwu-text-time
                            width 40%
                        .renwu-text-name
                            width 50%
                            color white
                    .renwu-text-body
                        color white
                        font-size 14px
                        width 180px
                        line-height 26px
                        height auto
                        white-space nowrap
                        overflow:hidden;
                        text-overflow: ellipsis;
                        &:hover
                            white-space normal
                            overflow:visible;
