.weixiuxqwrap
  background: #fff
  height: 100%
  position relative
  .weixiuxq-body
    width: 100%
    bottom 0
    .xq-menu
      flexbox()
      justify-content(space-between)
      border-bottom 1px solid #f0f0f0
      .menui
        width 50%
        box-sizing: border-box;
        padding-left: px2rem(100)
        color #2b2b2b
        font-size px2rem(28)
        height px2rem(88)
        span
          display inline-block
          line-height px2rem(86)
      .menui.act
        span
          color #5994f8
          border-bottom 2px solid #5994f8
      .menui:first-child
        text-align right
        padding-right: px2rem(100)
    .xq-body-zt
      padding px2rem(38) px2rem(20)
      .body-item
        margin-left px2rem(23)
        border-left 1px solid #f0f0f0
        font-size px2rem(28)
        .item-top
          margin-left px2rem(68)
          clearfix()
          height px2rem(46)
          position relative
          .statue
            color #64a3fb
            line-height px2rem(50)
          .left
            float left
            font-size px2rem(30)
            color #080808
          .right
            float right
            font-size px2rem(24)
            color #848689
          &:before
            content ''
            display inline-block
            width px2rem(46)
            height px2rem(46)
            border-radius px2rem(46)
            border 2px solid #adadad
            background url(./img/gou.png) center center no-repeat
            background-size 70%
            background-color #e1e1e1
            position absolute
            left px2rem(-90)
            top px2rem(-10)
        .item-top.blues
          &:before
            border 2px solid #64a3fd
            background url(./img/gou_w.png) center center no-repeat
            background-size 70%
            background-color #64a3fd
            position absolute
            left px2rem(-90)
        .item-bottom
          padding px2rem(10) 0 px2rem(70)
          margin-left px2rem(68)
          position relative
          .bottom-i
            margin-top px2rem(20)
            clearfix()
            .i-left
              float left
              line-height px2rem(54)
              color #848689
            .i-right
              margin-left px2rem(150)
              line-height: 1.3
              color #080808
              .star
                float left
                width px2rem(54)
                height px2rem(54)
                margin-right px2rem(10)
                background url('./img/star.png') center center no-repeat
                background-size 100% 100%
                &.act
                  background url('./img/star_b.png') center center no-repeat
                  background-size 100% 100%
              .i-right-list
                padding-top px2rem(10)
                clearfix()
                .left
                  float left
                  width 50%
                .right
                  float right
                  width 50%
                  text-align: right
          .bottom-i-img
            // flexbox()
            // justify-content(space-between)
            img
              display: inline-block
              padding-left 5px
            .mini
              width 30%
              height px2rem(170)
            div
              width 30%
              height px2rem(170)
              background-color #f0f0f0
                
      .body-item:last-child
        border-left none
    .xq-body-xx
      padding-top px2rem(30)
      background #f6f6f6
      .dd-item
        background #fff
        padding 0 px2rem(20)
        .dd-item-i
          border-bottom 1px solid #f0f0f0
          clearfix()
          .ileft
            float left
            width 40%
            line-height: px2rem(88)
            font-size px2rem(28)
            color #848689
          .iright
            float right
            width 59%
            line-height: px2rem(88)
            text-align right
            font-size px2rem(30)
            color #000
      .dd-con
        margin-top px2rem(30)
        background #fff
        padding 0 px2rem(20)
        .dd-item-i
          padding-top px2rem(30)
          .top
            font-size px2rem(28)
            color #848689
          .bottom
            font-size px2rem(30)
            color #1a1a1a
            margin-top px2rem(60)
            padding-bottom px2rem(60)
    .dpn
      display none

