/**
 * @file 报表
 * @author zlc <lichao9182@126.com>
 */

.jny-device
    position relative
    width 90.7%
    background-size 100% 100%
    .charts-wrap
        width 100%
        .left-charts2
            height 100%
            position absolute
            left 20px
            border 0px solid red
            top 0px
            flexbox()
            flex-direction(column)
            justify-content(space-around)
            .div1
               height 280px
               //background-color rgba(139,167,233,0.212)
               padding 15px 20px
               text-align center
               .div1_1
                   font-size 22px
                   color white
                   text-align left
                   .dname
                      font-size 14px
                      background-color #21427E
                      padding 5px 5px
                      margin 0px 15px
                      color white
                   .cname
                      font-size 14px
                      color #6597F5
               .div1_2
                   font-size 26px
                   color yellow
                   padding-top 0px
        .right-charts2
            position absolute
            right 30px
            top 0px
            width 400px
            height 100%
            border 0px solid red
            font-size 14px
            color white
            flexbox()
            flex-direction(column)
            justify-content(space-around)
            .div1
               height 280px
               background-color #003466
               padding 20px 40px
               text-align left
               .div1_1
                   color white
                   flexbox()
                   flex-direction(row)
                   justify-content(space-between)
                   .div1_1_left
                      font-size 16px
                      background #0049F9
                      padding 5px 20px
                      border-radius 3px
                      .div1_1_bottom
                        padding-top 10px
                        font-size 14px
                        color #4e73c9
                   .div1_1_right

                        .atop
                            padding-top 10px
                            font-size 20px
                            color white
                            cursor pointer
                        .abottom
                            padding-top 10px
                            font-size 14px
                            color white
               .div1_2
                   font-size 16px
                   color yellow
                   padding-top 20px
                   flexbox()
                   flex-direction(row)
                   justify-content(space-between)
                   .div1_2_row
                         flexbox()
                         flex-direction(column)
                         justify-content(space-around)
                         .atop
                                padding-top 5px
                                font-size 20px
                                color white
                                width 150px
                         .abottom
                                padding-top 10px
                                font-size 14px
                                color #6597F5
                                width 150px
