
@require '../view'

.gfybiaogeguanli
    position relative
    min-height 800px
    height auto!important
    width 100%
    .gfybiaogeguanli-body
        margin auto
        width 90%
        height 50%
        margin-top 35px
        h2
            margin 0px 0 10px
            font-size 24px
            color $base
        .gfybiaogeguanli-choice
            width 100%
            height 40px
            margin-top 20px
            .gfybiaogeguanli-choice-left
                float left
                span
                    font-size 16px
                    margin-top 5px
                .dropdown
                    font-size 16px
                    height 30px
            .gfybiaogeguanli-choice-right
                float right
                width 850px
                line-height 40px
                .choice-div
                    font-size 16px
                    .excel-upload
                        margin-left 40%
                        width 60%
                        height 20%
                        flexbox()
                        justify-content(space-between)
                        align-items(center)
                        .name-span
                            width 100px
                        input
                            width 200px
                            height: 30px;
                            text-decoration: none
                            outline: none;
                            -webkit-appearance: none;
                            border-radius: 0;
                            text-align center
                            background $base
                            color #fff
                            border-radius 3px
                            cursor pointer
                            &:hover
                                background #7ac6ff
                            &.gray,
                            &.gray:hover
                                background #c6c6c6
                        div
                            width 80px
                            height 30px
                            line-height 30px
                            text-align center
                            background $base
                            color #fff
                            border-radius 3px
                            cursor pointer
                            &:hover
                                background #7ac6ff
                    .new-table
                        flexbox()
                        justify-content(flex-end)
                        align-items(center)
                        width 100%
                        .name-check
                            margin-right 20px
                        .name-span
                            width 100px
                        .name-input
                            width 160px
                            height 40px
                            border none
                            border-bottom 1px solid #ccc
                        .query-div
                            width 80px
                            height 30px
                            line-height 30px
                            text-align center
                            background $base
                            color #fff
                            border-radius 3px
                            cursor pointer
                            &:hover
                                background #7ac6ff
        .gfybiaogeguanli-table
            margin-top 40px
            width 100%
